doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  title Health Bank | Login
  // Bootstrap
  // Bootstrap
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  // <link rel="stylesheet" href="css/bootstrap-rtl.min.css" />
  link(rel='stylesheet' href='/inc/nav/css/bootstrap-dropdownhover.min.css')
  // animation css
  link(rel='stylesheet' href='/css/animate.min.css')
  link(rel='stylesheet' href='/inc/tab/css/zozo.examples.min.css')
  link(rel='stylesheet' href='/inc/tab/css/zozo.tabs.flat.min.css')
  link(rel='stylesheet' href='/inc/tab/css/zozo.tabs.min.css')
  // owl-carsoul
  link(rel='stylesheet' href='/inc/carousel/owl.carousel.css')
  link(rel='stylesheet' href='/inc/carousel/owl.theme.css')
  link(rel='stylesheet' href='/inc/carousel/owl.transitions.css')
  // font-awsem
  link(rel='stylesheet' href='/inc/icons/css/font-awesome.min.css')
  // master slider
  link(rel='stylesheet' href='/inc/fj/font.css')
  link(rel='stylesheet' href='/js/masterslider/style/masterslider.css')
  link(rel='stylesheet' href='/js/masterslider/skins/default/style.css')
  link(rel='stylesheet' href='/inc/hancen/stylesheet.css')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/small.css')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
.heder
  .container
    .row
      .col-md-3
        .logo-d
          a(href='/')
            img(src='/img/logo.png' alt='logo')
br
.container
  !=messages('messages',locals)
  if errors
    div(class='alert alert-danger') #{errors.msg}
  form(method="post" action="/users/login")
    .form-group
      select.form-control.input-lg(name='work')
        option Select Your Type...
        option(value='Physician') Physician
        option(value='Employee') Employee
        option(value='Student') Student
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-user
      input#ID.form-control(type='text' name='Id' placeholder='ID(14 numbers only)')
    br
    .input-group
      span.input-group-addon
        i.glyphicon.glyphicon-lock
      input#password.form-control(type='password' name='password' placeholder='*********')
    br
    .form-group
      center
        input(type='checkbox')
        |  Remember Me
    center
      button.btn.btn-primary(style='height:35px;width:200px' type='submit') Login
footer
  .container.text-center
    p All Rights Reserved To Health Bank Project 2019 &copy;
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='/js/jquery-1.12.2.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='/js/bootstrap.min.js')
script(src='/js/parallax.min.js')
script(src='/js/wow.min.js')
script(src='/inc/nav/js/bootstrap-dropdownhover.min.js')
script(src='/inc/tab/js/zozo.tabs.min.js')
script(src='/inc/carousel/owl.carousel.min.js')
// master slider
script(src='/js/masterslider/masterslider.min.js')
script(src='/js/masterslider/jquery.easing.min.js')
script(src='/js/custom.js')
